/* Small devices */
@media only screen and (max-width: 640px) {
    /* CSS rules specific for small screens */
    html {
        font-size: 16dppx;
        font-family: Georgia, "Times New Roman", Times, serif;
        margin: 0px;
    }
    body {
        margin: 0px;
        color: #00008b;
    }
    .container {
        width: 100vw; /* Adjust layout for moderate container width on large tablets */
        height: 100%;
        background-color: lightblue;
    }

    header {
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
    }

    a {
        text-decoration: none;
        font-weight: bolder;
        font-size: big;
        color: #00008b;
    }

    .nav-item {
        padding-right: 18px;
    }
    .nav-img {
        display: none;
        width: 16px;
        height: 16px;
        border-radius: 0.8rem;
    }
    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
    }
    big {
        padding-left: 15px;
    }
    big > a {
        text-decoration: none;
        color: white;
        font-size: 12pt;
        font-weight: bolder;
        font-style: italic;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .homepage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        place-items: center;
        padding: 2rem;
    }

    .homepage-banner-img {
        width: 80vw;
        height: 48vh;
        border-radius: 1.2rem;
        border-width: 0px;
    }

    #tech-article {
        margin: 0 auto;
        padding: 5px;
    }

    .web-tech-img {
        width: 20px;
        height: 20px;
        background-color: darkblue;
        border-radius: 0.8rem;
        margin-left: 4rem;
    }
    .dtp-img {
        width: 32px;
        height: 24px;
        margin-left: 4rem;
    }

    .pl-img,
    .web-img {
        width: 48px;
        height: 48px;
        border-radius: 5px;
    }

    .dtp-icon,
    .db-image {
        width: 48px;
        height: 48px;
    }

    .db-img {
        width: 32px;
        height: 32px;
        margin-left: 4rem;
    }

    .lssn-img {
        width: 60px;
        height: 60px;
    }

    .lang-container,
    .web-container,
    .dtp-container,
    .db-container,
    .lesson-container {
        display: flex;
        flex-wrap: wrap;
    }

    .lang-item,
    .dtp-item,
    .db-item {
        flex: 2;
        padding: 1.48rem;
    }

    h2,
    h3 {
        text-align: center;
    }

    .web-item,
    .lesson-item {
        flex: 1;
        padding-right: 2.4rem;
        padding-left: 2.4rem;
    }

    .lesson-item {
        margin-bottom: 3rem;
    }

    /* Footer styles */
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bolder;
        font-size: big;
    }

    #year {
        padding-right: 1.8rem;
    }
    .twitter-logo {
        height: 24px;
        width: 24px;
        border-radius: 0.8rem;
        padding-left: 2rem;
        color: red;
    }
}
